<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sample-production</title>
  

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  
  <link href="css/tree.css" rel="stylesheet">
  <script src="../mq.widget.module.js"></script>
  <script src="mq.widget.Search.js"></script>
   <script src="script.js"></script>
   
</head>
<body ng-app="searchapp" ng-controller="SearchController">
<div tree-model >
</div>
</body>
</html>